In [2]:
import pandas as pd 
import numpy as np
import random as rnd

In [3]:
import seaborn as sns
import matplotlib.pyplot as plt


# machine learning
from sklearn.linear_model import LogisticRegression, RidgeClassifierCV
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import (RandomForestClassifier, GradientBoostingClassifier)
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score, GridSearchCV
from sklearn.metrics import accuracy_score

In [138]:
create_df=pd.read_csv('deployment.csv')

In [7]:
update_df=pd.read_csv('update.csv')

In [8]:
expand_df=pd.read_csv('expansion.csv')

In [9]:
create_df.head()

,Job Result,Job Creation Time,Job Completion Times,Product Name,Cores,Storage (GB)
0,SUCCESS,11/5/19 20:05,11/5/19 20:17,Product 4,96,9600
1,FAILURE,11/5/19 19:19,11/5/19 20:01,Product 4,96,9600
2,SUCCESS,11/4/19 21:59,11/4/19 22:32,Product 1,48,2400
3,SUCCESS,11/4/19 21:59,11/4/19 22:32,Product 1,48,2400
4,SUCCESS,11/1/19 0:27,11/1/19 0:39,Product 2,16,2400

In [51]:
len(create_df[(create_df['Product Name'] == 'Product 5') & (create_df['Job Result'] == 'SUCCESS')])

24

In [47]:
len(create_df[(create_df['Product Name'] == 'Product 4') & (create_df['Job Result'] == 'SUCCESS')])

15

In [48]:
len(create_df[(create_df['Product Name'] == 'Product 3') & (create_df['Job Result'] == 'SUCCESS')])

68

In [49]:
len(create_df[(create_df['Product Name'] == 'Product 2') & (create_df['Job Result'] == 'SUCCESS')])

53

In [53]:
len(create_df[(create_df['Product Name'] == 'Product 1 ') & (create_df['Job Result'] == 'SUCCESS')])

34

In [54]:
len(create_df[(create_df['Product Name'] == 'Product 1') & (create_df['Job Result'] == 'SUCCESS')])

7

In [16]:
expand_df.head()

,Job Result,Job Creation Time,Jopb Completion Time,Product Name,Cores,Storage,Customer ID,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,SUCCESS,11/5/19 19:41,11/5/19 19:59,Product 3,6,250,26324,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SUCCESS,11/5/19 18:57,11/5/19 19:15,Product 3,6,40,78836,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,SUCCESS,11/5/19 17:07,11/5/19 17:27,Product 3,14,40,78836,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,SUCCESS,10/31/19 23:34,10/31/19 23:59,Product 3,28,4000,28199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,SUCCESS,10/31/19 20:35,10/31/19 21:00,Product 3,28,4000,85990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
len(expand_df[(expand_df['Product Name'] == 'Product 4') & (expand_df['Job Result'] == 'SUCCESS')])

12

In [38]:
len(expand_df[(expand_df['Product Name'] == 'Product 3') & (expand_df['Job Result'] == 'SUCCESS')])

49

In [37]:
len(expand_df[(expand_df['Product Name'] == 'Product 2') & (expand_df['Job Result'] == 'SUCCESS')])

38

In [40]:
len(expand_df[(expand_df['Product Name'] == 'Product 1') & (expand_df['Job Result'] == 'SUCCESS')])

52

In [57]:
len(expand_df[(expand_df['Product Name'] == ' Product 1') & (expand_df['Job Result'] == 'SUCCESS')])

0

In [70]:
len(update_df['Customer ID'].unique())

127

In [139]:
 create_df['Product Name'].str[:].str.rstrip().value_counts()

Product 3    249
Product 2    144
Product 1    130
Product 5     39
Product 4     30
Name: Product Name, dtype: int64

In [71]:
len(expand_df['Customer ID'].unique())

53

In [30]:
expand_df['Product Name'].str[:].str.rstrip().value_counts()

Product 1    132
Product 3     82
Product 2     69
Product 4     20
Product 5      4
smp_flex       3
Name: Product Name, dtype: int64

In [32]:
create_df.loc['Job Result'=SUCCESS]

SyntaxError: invalid syntax (<ipython-input-32-62a56d387068>, line 1)

In [65]:
import dash
import dash_core_components as dcc
import dash_html_components as html
import pandas as pd
import plotly.graph_objs as go
from dash.dependencies import Input, Output

app = dash.Dash()
server = app.server

In [140]:
create_df.nunique()

Job Result                3
Job Creation Time       561
Job Completion Times    559
Product Name              6
Cores                    13
Storage (GB)             19
dtype: int64

In [83]:
update_df.nunique()

Job Result                   3
Job Creation Time          580
Job Completion Time        860
Product Name                 5
Component Being updated     12
Customer ID                127
dtype: int64

In [103]:
expand_df.nunique()

Job Result                3
Job Creation Time       307
Jopb Completion Time    309
Product Name              7
Cores                    16
Storage                  35
Customer ID              53
Unnamed: 7                0
Unnamed: 8                0
Unnamed: 9                0
Unnamed: 10               0
Unnamed: 11               0
Unnamed: 12               0
Unnamed: 13               0
Unnamed: 14               0
dtype: int64

In [109]:
cols=[col for col in expand_df.columns if not col.startswith('Unn')]

In [93]:
create_df['Product Name']=create_df['Product Name'].str[:].str.rstrip()

In [113]:
cols
expand_df=expand_df[cols]
expand_df.nunique()

Job Result                3
Job Creation Time       307
Jopb Completion Time    309
Product Name              7
Cores                    16
Storage                  35
Customer ID              53
dtype: int64

In [143]:
create_df.nunique()

Job Result                3
Job Creation Time       561
Job Completion Times    559
Product                   6
Cores                    13
Storage (GB)             19
dtype: int64

In [191]:
create_df=create_df.rename(columns={'Product Name':'Product'})
create_df.set_index('Product',inplace=True)
import plotly.offline as pyo
import plotly.graph_objs as go

KeyError: 'Product'

In [193]:
data=[go.Scatter(x=create_df.columns,y=create_df.loc[prod],mode='lines', name=prod) for prod in create_df.index]
pyo.plot(data)

'temp-plot.html'

In [194]:
k=np.unique([create_df['Job Completion Times'].str[:].str.split()[i][0] for i in range(0,len(create_df['Job Completion Times'].str[:].str.split()))])

In [234]:
unique_compl_dates=list(k)

In [239]:
Job_comp_Date=[create_df['Job Completion Times'].str[:].str.split()[i][0] for i in range(0,len(create_df['Job Completion Times'].str[:].str.split()))]
Job_comp_Date[0:5]

['11/5/19', '11/5/19', '11/4/19', '11/4/19', '11/1/19']

In [197]:
create_df['Job_comp_Date']=Job_comp_Date

In [198]:
Job_comp_Time=[create_df['Job Completion Times'].str[:].str.split()[i][1] for i in range(0,len(create_df['Job Completion Times'].str[:].str.split()))]

In [293]:
create_df['Job_comp_Time']=Job_comp_Time
create_df.head()
create_df.index
p4=np.count_nonzero(create_df.index=='Product 4', axis=0)
p3=np.count_nonzero(create_df.index=='Product 3', axis=0)
p2=np.count_nonzero(create_df.index=='Product 2', axis=0)
p1=np.count_nonzero(create_df.index=='Product 1', axis=0)
p5=np.count_nonzero(create_df.index=='Product 5', axis=0)
create_df['Job_comp_Time']=pd.to_datetime(create_df.Job_comp_Date)
create_df.sort_values(by='Job_comp_Time')
dates=[]
for i in create_df['Job_comp_Time'].unique():
    d=str(i)
    dates.append(d[:10])   
create_df['Job_comp_Time'] 
create_df.reset_index()

,Product,Job Result,Job Creation Time,Job Completion Times,Cores,Storage (GB),Job_comp_Date,Job_comp_Time
0,Product 4,SUCCESS,11/5/19 20:05,11/5/19 20:17,96,9600,11/5/19,2019-11-05
1,Product 4,FAILURE,11/5/19 19:19,11/5/19 20:01,96,9600,11/5/19,2019-11-05
2,Product 1,SUCCESS,11/4/19 21:59,11/4/19 22:32,48,2400,11/4/19,2019-11-04
3,Product 1,SUCCESS,11/4/19 21:59,11/4/19 22:32,48,2400,11/4/19,2019-11-04
4,Product 2,SUCCESS,11/1/19 0:27,11/1/19 0:39,16,2400,11/1/19,2019-11-01
5,Product 2,FAILURE,11/1/19 0:24,11/1/19 0:28,16,2400,11/1/19,2019-11-01
6,Product 2,FAILURE,10/31/19 23:03,10/31/19 23:07,16,2400,10/31/19,2019-10-31
7,Product 3,SUCCESS,10/31/19 21:17,10/31/19 22:29,6,40,10/31/19,2019-10-31
8,Product 3,FAILURE,10/31/19 20:28,10/31/19 20:43,6,40,10/31/19,2019-10-31
9,Product 3,FAILURE,10/31/19 20:26,10/31/19 20:34,6,40,10/31/19,2019-10-31
10,Product 3,SUCCESS,10/31/19 18:36,10/31/19 19:55,6,40,10/31/19,2019-10-31
11,Product 3,SUCCESS,10/31/19 18:31,10/31/19 19:45,6,40,10/31/19,2019-10-31
12,Product 3,SUCCESS,10/31/19 18:30,10/31/19 19:42,6,40,10/31/19,2019-10-31
13,Product 3,FAILURE,10/31/19 17:59,10/31/19 18:02,6,40,10/31/19,2019-10-31
14,Product 3,FAILURE,10/31/19 17:43,10/31/19 17:48,6,40,10/31/19,2019-10-31
15,Product 3,FAILURE,10/31/19 7:37,10/31/19 7:41,6,40,10/31/19,2019-10-31
16,Product 2,SUCCESS,10/31/19 2:13,10/31/19 2:22,16,1440,10/31/19,2019-10-31
17,Product 2,FAILURE,10/31/19 2:07,10/31/19 2:14,16,1440,10/31/19,2019-10-31
18,Product 2,FAILURE,10/30/19 23:18,10/30/19 23:23,16,1440,10/30/19,2019-10-30
19,Product 3,FAILURE,10/30/19 17:33,10/30/19 18:56,6,40,10/30/19,2019-10-30
20,Product 3,FAILURE,10/30/19 15:31,10/30/19 15:36,6,40,10/30/19,2019-10-30
21,Product 3,FAILURE,10/29/19 22:55,10/29/19 23:00,6,40,10/29/19,2019-10-29
22,Product 3,FAILURE,10/29/19 6:57,10/29/19 7:02,6,40,10/29/19,2019-10-29
23,Product 3,FAILURE,10/29/19 5:37,10/29/19 5:42,6,40,10/29/19,2019-10-29
24,Product 3,FAILURE,10/29/19 0:51,10/29/19 0:57,6,40,10/29/19,2019-10-29
25,Product 2,SUCCESS,10/29/19 0:21,10/29/19 0:27,16,960,10/29/19,2019-10-29
26,Product 2,SUCCESS,10/28/19 23:42,10/28/19 23:50,16,960,10/28/19,2019-10-28
27,Product 3,FAILURE,10/27/19 21:29,10/27/19 21:33,6,40,10/27/19,2019-10-27
28,Product 3,FAILURE,10/27/19 14:31,10/27/19 14:36,6,40,10/27/19,2019-10-27
29,Product 3,FAILURE,10/27/19 12:01,10/27/19 12:06,6,40,10/27/19,2019-10-27
...,...,...,...,...,...,...,...,...
562,Product 1,FAILURE,3/26/19 0:55,3/26/19 2:07,48,2400,3/26/19,2019-03-26
563,Product 1,FAILURE,3/26/19 0:33,3/26/19 0:38,48,2400,3/26/19,2019-03-26
564,Product 1,SUCCESS,3/25/19 23:13,3/25/19 23:46,48,2400,3/25/19,2019-03-25
565,Product 1,FAILURE,3/25/19 20:19,3/25/19 20:25,48,2400,3/25/19,2019-03-25
566,Product 1,FAILURE,3/25/19 19:35,3/25/19 19:41,48,2400,3/25/19,2019-03-25
567,Product 1,FAILURE,3/25/19 19:07,3/25/19 19:24,48,2400,3/25/19,2019-03-25
568,Product 1,FAILURE,3/25/19 18:57,3/25/19 19:18,48,2400,3/25/19,2019-03-25
569,Product 1,FAILURE,3/25/19 18:09,3/25/19 18:30,48,2400,3/25/19,2019-03-25
570,Product 2,SUCCESS,3/25/19 17:57,3/25/19 18:33,16,960,3/25/19,2019-03-25
571,Product 2,CANCELLED,3/25/19 17:36,3/25/19 17:39,16,960,3/25/19,2019-03-25
572,Product 1,FAILURE,3/25/19 17:29,3/25/19 17:36,48,2400,3/25/19,2019-03-25
573,Product 2,FAILURE,3/25/19 16:26,3/25/19 17:02,16,960,3/25/19,2019-03-25
574,Product 2,SUCCESS,3/25/19 13:32,3/25/19 14:11,16,960,3/25/19,2019-03-25
575,Product 1,CANCELLED,3/23/19 3:10,3/23/19 3:11,48,2400,3/23/19,2019-03-23
576,Product 1,SUCCESS,3/22/19 14:07,3/22/19 14:41,48,2400,3/22/19,2019-03-22
577,Product 1,CANCELLED,3/22/19 12:56,3/22/19 12:59,96,2400,3/22/19,2019-03-22
578,Product 1,FAILURE,3/22/19 0:52,3/22/19 1:20,48,2400,3/22/19,2019-03-22
579,Product 2,SUCCESS,3/21/19 21:07,3/21/19 21:45,16,960,3/21/19,2019-03-21
580,Product 2,FAILURE,3/21/19 19:54,3/21/19 19:57,16,960,3/21/19,2019-03-21
581,Product 2,FAILURE,3/21/19 19:08,3/21/19 19:10,16,960,3/21/19,2019-03-21
582,Product 2,FAILURE,3/21/19 15:50,3/21/19 15:53,16,960,3/21/19,2019-03-21
583,Product 1,SUCCESS,3/19/19 21:24,3/19/19 22:00,48,2400,3/19/19,2019-03-19
584,Product 1,FAILURE,3/19/19 19:27,3/19/19 19:34,48,2400,3/19/19,2019-03-19
585,Product 1,FAILURE,3/19/19 18:58,3/19/19 19:04,48,2400,3/19/19,2019-03-19
586,Product 1,FAILURE,3/19/19 18:17,3/19/19 18:23,48,2400,3/19/19,2019-03-19
587,Product 1,FAILURE,3/19/19 15:39,3/19/19 15:59,48,2400,3/19/19,2019-03-19
588,Product 2,CANCELLED,3/15/19 18:52,3/15/19 19:36,16,960,3/15/19,2019-03-15
589,Product 2,FAILURE,3/15/19 17:28,3/15/19 17:56,16,960,3/15/19,2019-03-15
590,Product 2,FAILURE,3/15/19 15:59,3/15/19 16:18,16,960,3/15/19,2019-03-15
591,Product 2,FAILURE,3/15/19 15:49,3/15/19 15:52,16,960,3/15/19,2019-03-15

In [ ]:
import dash
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output
import plotly.graph_objs as go
import pandas as pd

app = dash.Dash()


# https://dash.plot.ly/dash-core-components/dropdown
# We need to construct a dictionary of dropdown values for the years
dates=[]
for i in create_df['Job_comp_Time'].unique():
    d=str(i)
    dates.append(d[:10]) 
app.layout = html.Div([
    dcc.Graph(id='graph'),
    dcc.Dropdown(id='t1',options=[{'label':i,'value':i}for i in dates],value='2019-11-01'),
    dcc.Dropdown(id='t2',options=[{'label':i,'value':i}for i in dates],value='2019-11-05')
])
@app.callback(Output('graph','figure'),
              [Input('t1','value'),
              Input('t2','value')])
def update_figure(t1,t2):
    mask=(create_df['Job_comp_Time'] > '2019-11-01' & create_df['Job_comp_Time'] <= '2019-11-01')
    f_df=create_df.loc(mask)
    p4=np.count_nonzero(f_df['Product']=='Product 4', axis=0)
    p3=np.count_nonzero(f_df['Product']=='Product 3', axis=0)
    p2=np.count_nonzero(f_df['Product']=='Product 2', axis=0)
    p1=np.count_nonzero(f_df['Product']=='Product 1', axis=0)
    p5=np.count_nonzero(f_df['Product']=='Product 5', axis=0)
    traces = []
    traces.append(go.Pie(labels=["Product 1","Product 2","Product 3","Product 4","Product 5"],values=[p1,p2,p3,p4,p5]))

        #dcc graph takes input in the form of dictionary
    return {'data':traces }
if __name__=='__main__':
   app.run_server()

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: Do not use the development server in a production environment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)
127.0.0.1 - - [10/Nov/2019 23:38:37] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [10/Nov/2019 23:38:37] "GET /_dash-component-suites/dash_renderer/prop-types@15.7.2.min.js?v=1.0.0&m=1561062262 HTTP/1.1" 200 -
127.0.0.1 - - [10/Nov/2019 23:38:37] "GET /_dash-component-suites/dash_renderer/react@16.8.6.min.js?v=1.0.0&m=1561062262 HTTP/1.1" 200 -
127.0.0.1 - - [10/Nov/2019 23:38:37] "GET /_dash-component-suites/dash_core_components/highlight.pack.js?v=1.0.0&m=1563307603 HTTP/1.1" 200 -
127.0.0.1 - - [10/Nov/2019 23:38:37] "GET /_dash-component-suites/dash_renderer/react-dom@16.8.6.min.js?v=1.0.0&m=1561062262 HTTP/1.1" 200 -
127.0.0.1 - - [10/Nov/2019 23:38:37] "GET /_dash-component-suites/dash_html_components/dash_html_components.min.js?v=1.0.0&m=1561063963 HTTP/1.1" 200 -
127.0.0.1 - - [10/Nov/2019 23:38:37] "GET /_dash-component-suites/dash_renderer/dash_renderer.min.js?v=1.0.0&m=1561062262 HTTP/1.1" 200 -
127.0.0.1 - - [10/Nov/2019 23:38:37] "GET /_dash-component-suites/dash_core_components/dash_core_components.min.js?v=1.0.0&m=1563307603 HTTP/1.1" 200 -
127.0.0.1 - - [10/Nov/2019 23:38:37] "GET /_dash-component-suites/dash_renderer/prop-types@15.7.2.min.js?v=1.0.0&m=1561062262 HTTP/1.1" 200 -
127.0.0.1 - - [10/Nov/2019 23:38:37] "GET /_dash-component-suites/dash_renderer/react@16.8.6.min.js?v=1.0.0&m=1561062262 HTTP/1.1" 200 -
127.0.0.1 - - [10/Nov/2019 23:38:37] "GET /_dash-component-suites/dash_renderer/react-dom@16.8.6.min.js?v=1.0.0&m=1561062262 HTTP/1.1" 200 -
127.0.0.1 - - [10/Nov/2019 23:38:37] "GET /_dash-component-suites/dash_core_components/highlight.pack.js?v=1.0.0&m=1563307603 HTTP/1.1" 200 -
127.0.0.1 - - [10/Nov/2019 23:38:37] "GET /_dash-component-suites/dash_html_components/dash_html_components.min.js?v=1.0.0&m=1561063963 HTTP/1.1" 200 -
127.0.0.1 - - [10/Nov/2019 23:38:37] "GET /_dash-component-suites/dash_renderer/dash_renderer.min.js?v=1.0.0&m=1561062262 HTTP/1.1" 200 -
127.0.0.1 - - [10/Nov/2019 23:38:37] "GET /_dash-component-suites/dash_core_components/dash_core_components.min.js?v=1.0.0&m=1563307603 HTTP/1.1" 200 -
127.0.0.1 - - [10/Nov/2019 23:38:37] "GET /_dash-component-suites/dash_core_components/plotly-1.48.3.min.js?v=1.0.0&m=1563307603 HTTP/1.1" 200 -
127.0.0.1 - - [10/Nov/2019 23:38:37] "GET /_dash-component-suites/dash_core_components/plotly-1.48.3.min.js?v=1.0.0&m=1563307603 HTTP/1.1" 200 -
127.0.0.1 - - [10/Nov/2019 23:38:37] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [10/Nov/2019 23:38:37] "GET /_dash-layout HTTP/1.1" 200 -
[2019-11-10 23:38:37,835] ERROR in app: Exception on /_dash-update-component [POST]
Traceback (most recent call last):
  File "/Users/kranthikiranreddy/anaconda3/lib/python3.7/site-packages/pandas/core/ops.py", line 1789, in na_op
    result = op(x, y)
  File "/Users/kranthikiranreddy/anaconda3/lib/python3.7/site-packages/pandas/core/ops.py", line 187, in rand_
    return operator.and_(right, left)
TypeError: ufunc 'bitwise_and' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/kranthikiranreddy/anaconda3/lib/python3.7/site-packages/pandas/core/ops.py", line 1804, in na_op
    result = libops.scalar_binop(x, y, op)
  File "pandas/_libs/ops.pyx", line 171, in pandas._libs.ops.scalar_binop
  File "stringsource", line 654, in View.MemoryView.memoryview_cwrapper
  File "stringsource", line 349, in View.MemoryView.memoryview.__cinit__
ValueError: cannot include dtype 'M' in a buffer

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/kranthikiranreddy/anaconda3/lib/python3.7/site-packages/flask/app.py", line 2292, in wsgi_app
    response = self.full_dispatch_request()
  File "/Users/kranthikiranreddy/anaconda3/lib/python3.7/site-packages/flask/app.py", line 1815, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "/Users/kranthikiranreddy/anaconda3/lib/python3.7/site-packages/flask/app.py", line 1718, in handle_user_exception
    reraise(exc_type, exc_value, tb)
  File "/Users/kranthikiranreddy/anaconda3/lib/python3.7/site-packages/flask/_compat.py", line 35, in reraise
    raise value
  File "/Users/kranthikiranreddy/anaconda3/lib/python3.7/site-packages/flask/app.py", line 1813, in full_dispatch_request
    rv = self.dispatch_request()
  File "/Users/kranthikiranreddy/anaconda3/lib/python3.7/site-packages/flask/app.py", line 1799, in dispatch_request
    return self.view_functions[rule.endpoint](**req.view_args)
  File "/Users/kranthikiranreddy/anaconda3/lib/python3.7/site-packages/dash/dash.py", line 1291, in dispatch
    response.set_data(self.callback_map[output]['callback'](*args))
  File "/Users/kranthikiranreddy/anaconda3/lib/python3.7/site-packages/dash/dash.py", line 1175, in add_context
    output_value = func(*args, **kwargs)
  File "<ipython-input-296-ee94e4a95173>", line 26, in update_figure
    mask=(create_df['Job_comp_Time'] > '2019-11-01' & create_df['Job_comp_Time'] <= '2019-11-01')
  File "/Users/kranthikiranreddy/anaconda3/lib/python3.7/site-packages/pandas/core/ops.py", line 1850, in wrapper
    res_values = na_op(self.values, ovalues)
  File "/Users/kranthikiranreddy/anaconda3/lib/python3.7/site-packages/pandas/core/ops.py", line 1810, in na_op
    typ=type(y).__name__))
TypeError: cannot compare a dtyped [datetime64[ns]] array with a scalar of type [bool]
127.0.0.1 - - [10/Nov/2019 23:38:37] "POST /_dash-update-component HTTP/1.1" 500 -
[2019-11-10 23:45:44,249] ERROR in app: Exception on /_dash-update-component [POST]
Traceback (most recent call last):
  File "/Users/kranthikiranreddy/anaconda3/lib/python3.7/site-packages/pandas/core/ops.py", line 1789, in na_op
    result = op(x, y)
  File "/Users/kranthikiranreddy/anaconda3/lib/python3.7/site-packages/pandas/core/ops.py", line 187, in rand_
    return operator.and_(right, left)
TypeError: ufunc 'bitwise_and' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/kranthikiranreddy/anaconda3/lib/python3.7/site-packages/pandas/core/ops.py", line 1804, in na_op
    result = libops.scalar_binop(x, y, op)
  File "pandas/_libs/ops.pyx", line 171, in pandas._libs.ops.scalar_binop
  File "stringsource", line 654, in View.MemoryView.memoryview_cwrapper
  File "stringsource", line 349, in View.MemoryView.memoryview.__cinit__
ValueError: cannot include dtype 'M' in a buffer

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/kranthikiranreddy/anaconda3/lib/python3.7/site-packages/flask/app.py", line 2292, in wsgi_app
    response = self.full_dispatch_request()
  File "/Users/kranthikiranreddy/anaconda3/lib/python3.7/site-packages/flask/app.py", line 1815, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "/Users/kranthikiranreddy/anaconda3/lib/python3.7/site-packages/flask/app.py", line 1718, in handle_user_exception
    reraise(exc_type, exc_value, tb)
  File "/Users/kranthikiranreddy/anaconda3/lib/python3.7/site-packages/flask/_compat.py", line 35, in reraise
    raise value
  File "/Users/kranthikiranreddy/anaconda3/lib/python3.7/site-packages/flask/app.py", line 1813, in full_dispatch_request
    rv = self.dispatch_request()
  File "/Users/kranthikiranreddy/anaconda3/lib/python3.7/site-packages/flask/app.py", line 1799, in dispatch_request
    return self.view_functions[rule.endpoint](**req.view_args)
  File "/Users/kranthikiranreddy/anaconda3/lib/python3.7/site-packages/dash/dash.py", line 1291, in dispatch
    response.set_data(self.callback_map[output]['callback'](*args))
  File "/Users/kranthikiranreddy/anaconda3/lib/python3.7/site-packages/dash/dash.py", line 1175, in add_context
    output_value = func(*args, **kwargs)
  File "<ipython-input-296-ee94e4a95173>", line 26, in update_figure
    mask=(create_df['Job_comp_Time'] > '2019-11-01' & create_df['Job_comp_Time'] <= '2019-11-01')
  File "/Users/kranthikiranreddy/anaconda3/lib/python3.7/site-packages/pandas/core/ops.py", line 1850, in wrapper
    res_values = na_op(self.values, ovalues)
  File "/Users/kranthikiranreddy/anaconda3/lib/python3.7/site-packages/pandas/core/ops.py", line 1810, in na_op
    typ=type(y).__name__))
TypeError: cannot compare a dtyped [datetime64[ns]] array with a scalar of type [bool]
127.0.0.1 - - [10/Nov/2019 23:45:44] "POST /_dash-update-component HTTP/1.1" 500 -
[2019-11-10 23:45:46,157] ERROR in app: Exception on /_dash-update-component [POST]
Traceback (most recent call last):
  File "/Users/kranthikiranreddy/anaconda3/lib/python3.7/site-packages/pandas/core/ops.py", line 1789, in na_op
    result = op(x, y)
  File "/Users/kranthikiranreddy/anaconda3/lib/python3.7/site-packages/pandas/core/ops.py", line 187, in rand_
    return operator.and_(right, left)
TypeError: ufunc 'bitwise_and' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/kranthikiranreddy/anaconda3/lib/python3.7/site-packages/pandas/core/ops.py", line 1804, in na_op
    result = libops.scalar_binop(x, y, op)
  File "pandas/_libs/ops.pyx", line 171, in pandas._libs.ops.scalar_binop
  File "stringsource", line 654, in View.MemoryView.memoryview_cwrapper
  File "stringsource", line 349, in View.MemoryView.memoryview.__cinit__
ValueError: cannot include dtype 'M' in a buffer

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/kranthikiranreddy/anaconda3/lib/python3.7/site-packages/flask/app.py", line 2292, in wsgi_app
    response = self.full_dispatch_request()
  File "/Users/kranthikiranreddy/anaconda3/lib/python3.7/site-packages/flask/app.py", line 1815, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "/Users/kranthikiranreddy/anaconda3/lib/python3.7/site-packages/flask/app.py", line 1718, in handle_user_exception
    reraise(exc_type, exc_value, tb)
  File "/Users/kranthikiranreddy/anaconda3/lib/python3.7/site-packages/flask/_compat.py", line 35, in reraise
    raise value
  File "/Users/kranthikiranreddy/anaconda3/lib/python3.7/site-packages/flask/app.py", line 1813, in full_dispatch_request
    rv = self.dispatch_request()
  File "/Users/kranthikiranreddy/anaconda3/lib/python3.7/site-packages/flask/app.py", line 1799, in dispatch_request
    return self.view_functions[rule.endpoint](**req.view_args)
  File "/Users/kranthikiranreddy/anaconda3/lib/python3.7/site-packages/dash/dash.py", line 1291, in dispatch
    response.set_data(self.callback_map[output]['callback'](*args))
  File "/Users/kranthikiranreddy/anaconda3/lib/python3.7/site-packages/dash/dash.py", line 1175, in add_context
    output_value = func(*args, **kwargs)
  File "<ipython-input-296-ee94e4a95173>", line 26, in update_figure
    mask=(create_df['Job_comp_Time'] > '2019-11-01' & create_df['Job_comp_Time'] <= '2019-11-01')
  File "/Users/kranthikiranreddy/anaconda3/lib/python3.7/site-packages/pandas/core/ops.py", line 1850, in wrapper
    res_values = na_op(self.values, ovalues)
  File "/Users/kranthikiranreddy/anaconda3/lib/python3.7/site-packages/pandas/core/ops.py", line 1810, in na_op
    typ=type(y).__name__))
TypeError: cannot compare a dtyped [datetime64[ns]] array with a scalar of type [bool]
127.0.0.1 - - [10/Nov/2019 23:45:46] "POST /_dash-update-component HTTP/1.1" 500 -
[2019-11-10 23:45:48,019] ERROR in app: Exception on /_dash-update-component [POST]
Traceback (most recent call last):
  File "/Users/kranthikiranreddy/anaconda3/lib/python3.7/site-packages/pandas/core/ops.py", line 1789, in na_op
    result = op(x, y)
  File "/Users/kranthikiranreddy/anaconda3/lib/python3.7/site-packages/pandas/core/ops.py", line 187, in rand_
    return operator.and_(right, left)
TypeError: ufunc 'bitwise_and' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/kranthikiranreddy/anaconda3/lib/python3.7/site-packages/pandas/core/ops.py", line 1804, in na_op
    result = libops.scalar_binop(x, y, op)
  File "pandas/_libs/ops.pyx", line 171, in pandas._libs.ops.scalar_binop
  File "stringsource", line 654, in View.MemoryView.memoryview_cwrapper
  File "stringsource", line 349, in View.MemoryView.memoryview.__cinit__
ValueError: cannot include dtype 'M' in a buffer

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/kranthikiranreddy/anaconda3/lib/python3.7/site-packages/flask/app.py", line 2292, in wsgi_app
    response = self.full_dispatch_request()
  File "/Users/kranthikiranreddy/anaconda3/lib/python3.7/site-packages/flask/app.py", line 1815, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "/Users/kranthikiranreddy/anaconda3/lib/python3.7/site-packages/flask/app.py", line 1718, in handle_user_exception
    reraise(exc_type, exc_value, tb)
  File "/Users/kranthikiranreddy/anaconda3/lib/python3.7/site-packages/flask/_compat.py", line 35, in reraise
    raise value
  File "/Users/kranthikiranreddy/anaconda3/lib/python3.7/site-packages/flask/app.py", line 1813, in full_dispatch_request
    rv = self.dispatch_request()
  File "/Users/kranthikiranreddy/anaconda3/lib/python3.7/site-packages/flask/app.py", line 1799, in dispatch_request
    return self.view_functions[rule.endpoint](**req.view_args)
  File "/Users/kranthikiranreddy/anaconda3/lib/python3.7/site-packages/dash/dash.py", line 1291, in dispatch
    response.set_data(self.callback_map[output]['callback'](*args))
  File "/Users/kranthikiranreddy/anaconda3/lib/python3.7/site-packages/dash/dash.py", line 1175, in add_context
    output_value = func(*args, **kwargs)
  File "<ipython-input-296-ee94e4a95173>", line 26, in update_figure
    mask=(create_df['Job_comp_Time'] > '2019-11-01' & create_df['Job_comp_Time'] <= '2019-11-01')
  File "/Users/kranthikiranreddy/anaconda3/lib/python3.7/site-packages/pandas/core/ops.py", line 1850, in wrapper
    res_values = na_op(self.values, ovalues)
  File "/Users/kranthikiranreddy/anaconda3/lib/python3.7/site-packages/pandas/core/ops.py", line 1810, in na_op
    typ=type(y).__name__))
TypeError: cannot compare a dtyped [datetime64[ns]] array with a scalar of type [bool]
127.0.0.1 - - [10/Nov/2019 23:45:48] "POST /_dash-update-component HTTP/1.1" 500 -
[2019-11-10 23:45:49,548] ERROR in app: Exception on /_dash-update-component [POST]
Traceback (most recent call last):
  File "/Users/kranthikiranreddy/anaconda3/lib/python3.7/site-packages/pandas/core/ops.py", line 1789, in na_op
    result = op(x, y)
  File "/Users/kranthikiranreddy/anaconda3/lib/python3.7/site-packages/pandas/core/ops.py", line 187, in rand_
    return operator.and_(right, left)
TypeError: ufunc 'bitwise_and' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/kranthikiranreddy/anaconda3/lib/python3.7/site-packages/pandas/core/ops.py", line 1804, in na_op
    result = libops.scalar_binop(x, y, op)
  File "pandas/_libs/ops.pyx", line 171, in pandas._libs.ops.scalar_binop
  File "stringsource", line 654, in View.MemoryView.memoryview_cwrapper
  File "stringsource", line 349, in View.MemoryView.memoryview.__cinit__
ValueError: cannot include dtype 'M' in a buffer

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/kranthikiranreddy/anaconda3/lib/python3.7/site-packages/flask/app.py", line 2292, in wsgi_app
    response = self.full_dispatch_request()
  File "/Users/kranthikiranreddy/anaconda3/lib/python3.7/site-packages/flask/app.py", line 1815, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "/Users/kranthikiranreddy/anaconda3/lib/python3.7/site-packages/flask/app.py", line 1718, in handle_user_exception
    reraise(exc_type, exc_value, tb)
  File "/Users/kranthikiranreddy/anaconda3/lib/python3.7/site-packages/flask/_compat.py", line 35, in reraise
    raise value
  File "/Users/kranthikiranreddy/anaconda3/lib/python3.7/site-packages/flask/app.py", line 1813, in full_dispatch_request
    rv = self.dispatch_request()
  File "/Users/kranthikiranreddy/anaconda3/lib/python3.7/site-packages/flask/app.py", line 1799, in dispatch_request
    return self.view_functions[rule.endpoint](**req.view_args)
  File "/Users/kranthikiranreddy/anaconda3/lib/python3.7/site-packages/dash/dash.py", line 1291, in dispatch
    response.set_data(self.callback_map[output]['callback'](*args))
  File "/Users/kranthikiranreddy/anaconda3/lib/python3.7/site-packages/dash/dash.py", line 1175, in add_context
    output_value = func(*args, **kwargs)
  File "<ipython-input-296-ee94e4a95173>", line 26, in update_figure
    mask=(create_df['Job_comp_Time'] > '2019-11-01' & create_df['Job_comp_Time'] <= '2019-11-01')
  File "/Users/kranthikiranreddy/anaconda3/lib/python3.7/site-packages/pandas/core/ops.py", line 1850, in wrapper
    res_values = na_op(self.values, ovalues)
  File "/Users/kranthikiranreddy/anaconda3/lib/python3.7/site-packages/pandas/core/ops.py", line 1810, in na_op
    typ=type(y).__name__))
TypeError: cannot compare a dtyped [datetime64[ns]] array with a scalar of type [bool]
127.0.0.1 - - [10/Nov/2019 23:45:49] "POST /_dash-update-component HTTP/1.1" 500 -

NameError: name 'selected_Time' is not defined